@model DAL.History

@{
    ViewBag.Title = "Edit History";

}

<script>
  $(function() {
    $('#toggle-one').bootstrapToggle();
  })
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content indent">
        <div class="container">
            <h4>Update History</h4>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.HistoryId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.HistoryYear, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.HistoryYear, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.HistoryYear, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ShortDesc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShortDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LongDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.LongDesc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LongDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                                @Html.ActionLink("Back", "Index", "Histories", new { area = "Admin" }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            }


