@model IEnumerable<Models.AboutClinicModel>

@{
    ViewBag.Title = "About Clinic";
}

<div class="content indent">
    <div class="container">
        <h4>About Clinic</h4>
        <div class="row">
            <p>
                @Html.ActionLink("Create New", "Create", "AboutClinic", new { area = "Admin" }, new { @class = "btn btn-default" })
            </p>
            <table class="table" id="tblAboutClinic" style=" border:1px solid">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Short Desc</th>
                        <th>Priority</th>
                        <th>Long Desc</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LongDesc)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "ClinicDetails", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "ClinicDetails", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#tblAboutClinic').DataTable({
            "columnDefs": [
                { "width": "15%", "targets": 0 },
                { "width": "25%", "targets": 1 },
                { "width": "10%", "targets": 2 },
                { "width": "35%", "targets": 3 },
                { "width": "15%", "targets": 4 }
            ]
        });
    });
</script>
