@model IEnumerable<Models.ServicesModel>

@{
    ViewBag.Title = "Service List";    
}
<h4>Services</h4>
<p>
    @Html.ActionLink("Create New", "Create", new {area = "Admin" }, new { @class = "btn btn-default" })
</p>
<table class="table" id="tblService" style=" border:1px solid">
    <thead>
        <tr>
            <th>ServiceName</th>
            <th>ShortDesc</th>
            <th>Priority</th>
            <th>LongDesc</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDesc)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServiceId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServiceId, onclick = "return DeleteConfirm();" }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#tblService').DataTable({
            "columnDefs": [
                { "width": "15%", "targets": 0 },
                { "width": "25%", "targets": 1},
                { "width": "45%", "targets": 2 },
                { "width": "15%", "targets": 3 }
            ]
        });
    });
    function DeleteConfirm() {     
        if (confirm("Are you sure want to delete record"))
            return true;
        else
            return false;
    }
</script>