<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/Images/favicon1.ico" type="image/x-icon" />
    <!--CSS-->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/camera.css" rel="stylesheet" />
    <link href="~/Content/contact-form.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Roboto+Condensed|Ubuntu" rel="stylesheet">
    <!--JS-->
    @*<script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.mobilemenu.js"></script>
    <script src="~/Scripts/jquery.equalheights.js"></script>
    <script src="~/Scripts/camera.js"></script>
    <script src="~/Scripts/TMForm.js"></script>
    <script src="~/Scripts/bootstrap-filestyle.js"></script>*@  
      
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- TinyMCE Script Reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script>
    //$(document).ready(function(){
    //    jQuery('.camera_wrap').camera();

    //});
    </script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="~/Scripts/wow/wow.js"></script>
    <script src="~/Scripts/wow/device.min.js"></script>
    <script src="~/Scripts/jquery.mobile.customized.min.js"></script>
    <script>
    $(document).ready(function () {
      if ($('html').hasClass('desktop')) {
        new WOW().init();
      }
    });
    </script> 
    @* <title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="clearfix">
        <div class="container">
            <h1 class="navbar-brand navbar-brand_"><a href="index.html"><img src="~/Content/Images/logo.png" alt="logo"></a></h1>
            <div class="box1 clearfix">
                <div class="box2 clearfix">
                    <img src="~/Content/Images/call_girl.png" alt="">
                    <p>Need a helping hand? Call our office search<br>helpline for advice - <span>0800 368 0380</span></p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default top-menu" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand menu-name" href="#">menu</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Employee", "Index", "Employees", new { area = "Admin" }, null)</li>                        
                        <li> @Html.ActionLink("History", "Index", "Histories", new { area = "Admin" }, null) </li> 
                        <li> @Html.ActionLink("Services", "Index", "Services", new { area = "Admin" }, null)</li>
                        <li> @Html.ActionLink("About Clinic", "Index", "AboutClinic", new { area = "Admin" }, null)</li> 
                        <li> @Html.ActionLink("Testimonials", "ShowTestimonials", "Testimonial", new { area = "Admin" }, null)</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    
        @RenderBody()
        <hr />
        <footer>            
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 indent maxheight2 wow fadeInUp">
                        <p class="title">copyright</p>
                        <p class="prev">&copy; <em id="copyright-year"></em> <a href="index-5.html">Privacy Policy</a></p>
                        <ul class="follow_icon2">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                            <li><a href="#" class="fa fa-pinterest"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight2 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="title">Important Links</p>
                        <ul class="list1">
                            <li><a href="#">Affiliate Program</a></li>
                            <li><a href="#">Special Promotions</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight2 wow fadeInUp" data-wow-delay="0.2s">
                        <p class="title">Support Menu</p>
                        <ul class="list1">
                            <li><a href="#">Lost Password?</a></li>
                            <li><a href="#">Forgot your Username?</a></li>
                            <li><a href="#">Your Membership</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Support Forum</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 maxheight2 wow fadeInUp" data-wow-delay="0.3s">
                        <p class="title">About Us</p>
                        <ul class="list1">
                            <li><a href="#">Customer focus</a></li>
                            <li><a href="#">Performance</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Responsibility</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
   

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/footerJSCollect")
    @RenderSection("scripts", required: false)
   
    <a href="#" id="toTop" class="fa fa-arrow-circle-o-up"></a>

</body>
</html>
