@model IEnumerable<Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<style>

    img.zoom {
    width: 350px;
    height: 200px;
    border:1px solid ;
    border-color:seagreen;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(4.8);
}
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblEmployees">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
               Email
            </th>
            <th>
                Gender
            </th>
            <th>
                Designation
            </th>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @{
                        var imgSrc = "";
                        if (item.Image != null)
                        {
                            var base64 = Convert.ToBase64String(item.Image);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    <div >
                        <img class="zoom" style="max-height:50px; max-width:50px;" src="@imgSrc" alt="">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmpId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
                </td>
            </tr>
        }
        </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#tblEmployees').DataTable({
            "columnDefs": [
                { "width": "10%", "targets": 0 },
                { "width": "10%", "targets": 1 },
                { "width": "10%", "targets": 2 },
                 { "width": "10%", "targets": 3 },
                { "width": "10%", "targets": 4 },
                { "width": "10%", "targets": 5 },
                { "width": "25%", "targets": 6 },
                { "width": "15%", "targets": 7 }
            ]
        });
        $('.zoom').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    });
</script>
