@model IEnumerable<Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    img.zoom {
        width: 350px;
        height: 200px;
        border: 1px solid;
        border-color: seagreen;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }

    .transition {
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -o-transform: scale(1.8);
        transform: scale(4.8);
    }
</style>
<div class="content indent">
    <div class="container">
        <h4>Employees List</h4>
        <div class="row">
            <p>
                @Html.ActionLink("Create New", "Create", "Employees", new { area = "Admin" }, new { @class = "btn btn-default" })
            </p>
            <div class="col-md-12">
                <table id="tblEmployees" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Designation</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Designation</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.First_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Last_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Designation)
                                </td>
                                <td>
                                    @{
                            var imgSrc = "";
                            if (item.Image != null)
                            {
                                var base64 = Convert.ToBase64String(item.Image);
                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                                    }
                                    <div>
                                        <img class="zoom" style="max-height:50px; max-width:50px;" src="@imgSrc" alt="">
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.EmpId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#tblEmployees').DataTable();

        $('.zoom').hover(function () {
            $(this).addClass('transition');
        }, function () {
            $(this).removeClass('transition');
        });
    });
</script>
