@model Physio.Models.AboutViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>About us</title>
<div class="content indent">
    <!--content-->
    <div class="who-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <h2>Who We Are</h2>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            <figure><img src="~/Content/Images/page2_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>We do physiotherapy. Assessment, Diagnosis, sports and neurological condition.</h3>
                                <p><strong>Physio First Center</strong> is a dynamic multidisciplinary clinic that focuses on “one on one” hands on treatment. Our goal is to determine the cause of your problem in order to help you recover from your injury and return you to your normal activities as fast as possible.  </p>
                                <p><strong>Physio First Center</strong> is owned and operated by Registered Physiotherapists Dr.Brij Bhushan Pandey. Brij Bhushan is dedicated Physiotherapist with a passion for helping others through their profession as well as through charitable work that they are committed to. </p>
                                <p>Center  is open seven days a week and are conveniently located in Sector-49, Yamaha-Vihar, Noida (UP). As primary health care practitioners, the Physiotherapists at Physio First center combine complete knowledge of how the body works with specialized hands-on clinical skills to assess, diagnose and treat symptoms of illness, injury or disability. By promoting your health and independence, the practitioner’s goal is to restore, maintain and maximize your strength, function, movement and overall well-being. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h2>Our History</h2>

                    @Html.Partial("_History", Model.lstHistory)

                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h2>information for patients</h2>
                    <h3>Your First Visit</h3>
                    <div class="content">
                        <p class="question">
                            <span style="font-size: 16px; font-family: georgia,palatino; color: #cf6834;">
                                <em>What to expect?</em>
                            </span>
                        </p>
                        <ul>
                            <li>Please arrive for your appointment 15 minutes early to fill out the registration forms.&nbsp;</li>
                            <li>You will be welcomed by our friendly and helpful office staff.</li>
                            <li>You will be seen for the initial appointment by our therapist.</li>
                            <li>During the initial appointment we will discuss the following with you:</li>
                        </ul>
                        <ul>
                            <ol start="1">
                                <li>Your medical and injury history</li>
                                <li>Your chief complaint, current problems and concerns</li>
                                <li>Details about your pain and what aggravates and eases your problem.</li>
                                <li>How this is impacting your day-to-day activity and what your functional limitations are.</li>
                                <li>Medication use, diagnostic tests and other related medical procedures that have been completed related to your health.</li>
                                <li>Your goals of treatment.</li>
                            </ol>
                        </ul>
                        <ul>
                            <li>Secondly, your therapist will perform an objective evaluation which may include some of the following assessments:</li>
                            <ol start="1">
                                <li>Posture Analysis</li>
                                <li>Functional movements</li>
                                <li>Range of Motion (ROM)</li>
                                <li>Muscle Testing</li>
                                <li>Neurological Examination of sensation, reflexes and muscle power</li>
                                <li>Palpation</li>
                                <li>Articular assessment</li>
                                <li>Joint stability testing</li>
                                <li>Dynamic stability testing</li>
                                <li>Neurodynamic testing</li>
                                <li>Special Tests – used to confirm/rule out a diagnosis, make a differential diagnosis or identify the presence of additional problems.</li>
                            </ol>
                        </ul>
                        <p>A treatment plan is then developed by you and your therapist to identify and treat these areas of concern. This includes:</p>
                        <ul>
                            <li>how often you should see your therapist for treatment</li>
                            <li>approximately how many weeks you will need treatment for</li>
                            <li>which exercises you should carry out at home</li>
                            <li>educating you regarding your injury, which activities you should avoid, if you should apply heat or ice or both</li>
                            <li>short-term/long-term goals</li>
                            <li>what is expected after you are discharged from treatment.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box9">
        <div class="container">
            <h2 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">Our Staff</h2>
            @Html.Partial("_Staff", Model.lstEmployee)
        </div>
    </div>
    <div class="thumb-box10">
        <div class="container">
            <div class="row">
                <h2>Testimonials</h2>
                @foreach (var item in Model.lstTestimonial)
                {
                    <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

                        <div class="thumb-pad5">
                            <div class="thumbnail">
                                <figure>
                                    @{var imgSrc = "";
                                        if (item.PatientImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.PatientImage);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgSrc" class="img-thumbnail" alt="" style="max-height:270px; max-width:270px" />
                                    }

                                </figure>
                                <div class="caption">
                                    @{ var description = item.PatientExperience;
                                        @Html.Raw(description)
                                    }
                                    <div>
                                        <a href="#">@item.PatientName</a>
                                        <p>@item.PatientDesignation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
