@model Physio.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.ActionLink("Admin App", "Index", "Home", new { area = "Admin" }, null)*@
<title>Home</title>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="4" class="" contenteditable="false"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item" style="">
            <img src="~/Content/Images/one.jpg" />            
            @*<div class="carousel-caption">
                <h4 class="">First Slide Title</h4>
                <p class="">
                    Description for First Slide, this First Slide.
                </p>
            </div>*@
        </div>
        <div class="item" style="">
            <img src="~/Content/Images/three.jpg" />
            @*<div class="carousel-caption">
                <h4 class="">Second Slide Title</h4>
                <p class="">
                    Description for Second Slide, this is Second Slide.
                </p>
            </div>*@
        </div>
        <div class="item active" style="">
            <img src="~/Content/Images/two.jpg" />
            @*<div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>
                <p class="">
                    Description for Third Slide, this is Third Slide.
                </p>
            </div>*@
        </div>
        <div class="item" style="">
            <img src="~/Content/Images/four.jpg" />
            @*<div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>
                <p class="">
                    Description for Third Slide, this is Third Slide.
                </p>
            </div>*@
        </div>
        <div class="item" style="">
            <img src="~/Content/Images/five.jpg" />
            @*<div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>
                <p class="">
                    Description for Third Slide, this is Third Slide.
                </p>
            </div>*@
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
<div class="content">
    <div class="thumb-box1">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 wow fadeInUp">
                    <p class="title">We care about soundness of your body</p>
                    <p>We do physiotherapy. Assessment, Diagnosis and Evidence based treatments for orthopedic, sports and neurological condition. We are equipped with state of art gadgets that are crucial in conservative management. Our physiotherapy assessment and treatment methodology make a difference.</p>
                    <p>We have earned a reputation for being able to provide patients with nearly all types of physio treatments and services at a reasonable price.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.2s">                 
                    @Html.ActionLink("More", "About", "Home",new { area = "" }, new { @class = "btn-default btn1" })
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box2">
        <div class="container">
            <p class="title wow fadeInLeft">ABOUT CLINIC</p>
            <div class="row">
                @foreach (var item in Model.lstAboutClinic)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                        <div class="thumb-pad1">
                            <div class="thumbnail">
                                <strong><img src="~/Content/Images/page1_icon1.png" alt=""></strong>
                                <div class="caption">
                                    <p class="description">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </p>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.ShortDesc)
                                    </p> 
                                    @*<figure><img src="~/Content/images/page2_pic2.jpg" alt=""></figure>*@
                                    <figure>
                                        @{var imgSrc = "";
                                        if (item.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgSrc" alt="" class="img-responsive" style="max-height:350px;" />
                                        }

                                    </figure>
                                    
                                    <a href="@Url.Action("Index", "ClinicDetail", new { id = item.Id })" class="btn-default btn2">read more <i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }               
            </div>
        </div>
    </div>
    <div class="thumb-box2">
        <div class="container">           
            <p class="title wow fadeInLeft">Our services</p>           
            <div class="row">
                @foreach (var item in Model.lstServices)
                {
                    if (item.Priority == 1)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                            <div class="thumb-pad2-1 maxheight">
                                <div class="thumbnail">
                                    <figure>
                                                                                @{var imgSrc = "";
                                        if (item.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgSrc" alt="" class="img-responsive" style="max-height:350px;"  />
                                        }

                                    </figure>
                                    <div class="caption">
                                            <p class="title">
                                                @Html.DisplayFor(modelItem => item.ServiceName)
                                            </p>
                                            <p>
                                                @Html.DisplayFor(modelItem => item.ShortDesc)                                           
                                            </p>                                               
                                            <a href="@Url.Action("Index", "ServicesDetail", new { id = item.ServiceId })">
                                                <img alt="Click here" src="@Url.Content("~/Content/Images/more_arrow1.png")">
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    }
                }              
            </div>
        </div>
    </div>
    <div class="thumb-box4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 wow fadeInUp">
                    <p class="title"><img src="~/Content/Images/title_icon1.png" alt="">Our Mission</p>
                    <h3>Quis autem vel eum iure reprehenderit</h3>
                    <p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-1 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="title"><img src="~/Content/Images/title_icon2.png" alt="">consultation</p>
                    <h3>Ut enim ad minim veniam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
            </div>
        </div>
    </div>

</div>