@model IEnumerable<Models.ServicesModel>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Services</title>
<div class="content indent">
    <!--content-->
    <div class="thumb-box11">
        <div class="container">
            <div class="row">

                @foreach (var item in Model)
                {
                   if (item.Priority == 1)
                    {
                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                        <div class="thumb-pad2-1 maxheight">
                            <div class="thumbnail">
                                <figure>
                                    @{var imgSrc = "";
                                    if (item.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.Image);
                                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                    <img src="@imgSrc" alt=""/>
                                    }
                                
                                </figure>
                                <div class="caption">
                                    <p class="title">
                                        @Html.DisplayFor(modelItem => item.ServiceName)                                       
                                    </p>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.ShortDesc)
                                    </p>                                                                                                                                                                                                                                                                                  
                                    <a href="@Url.Action("Index", "ServicesDetail", new { id = item.ServiceId })">
                                        <img alt="Click here" src="@Url.Content("~/Content/Images/more_arrow1.png")">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                }
                             
            </div>
        </div>
    </div>
    <div class="thumb-box1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInUp">
                    <p class="title">WELCOME TO HEALTH CARE</p>
                    <div class="row" style="vertical-align: middle;">
                        <div class="col-sm-4"><img src="~/Content/Images/PhysioService1.png" class="img-circle" alt="" width="110" height="110" /></div>
                        <div class="col-sm-8 " data-wow-delay="0.1s">
                            PhysioFirst Healthcare clinic offers a holistic as well as integrative approach for evidence based assessment and management of orthopedic, musculoskeletal, sports injuries, neuromuscular & cardiac conditions.
                        </div>
                    </div>
                    <div class="row" style="vertical-align: middle;">
                        <div class="col-sm-4"><img src="~/Content/Images/PhysioService2.png" class="img-circle" alt="" width="110" height="110" /></div>
                        <div class="col-sm-8 " data-wow-delay="0.1s">
                            Healthcare is the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in human beings. Health care is delivered by practitioners in allied health, dentistry, midwifery (obstetrics), medicine, nursing, optometry, pharmacy, psychology and other health professions.
                        </div>
                    </div>
                    <div class="row" style="vertical-align: middle;">
                        <div class="col-sm-4"><img src="~/Content/Images/PhysioService3.png" class="img-circle" alt="" width="110" height="110" /></div>
                        <div class="col-sm-8 " data-wow-delay="0.1s">
                            For those patient's who are unable to make it to our clinic we have also been offering in home treatment to patients...
                        </div>
                    </div>
                                   
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="title">PHYSIO AT YOUR DOOR STEP</p>                                        
                        <div class="physio_img">
                           <img src="~/Content/Images/PhysioAtDoor.jpg" alt="" width="180" class="img-thumbnail" /></p>
                        </div>
                       <p><strong>BENEFITS</strong></p>
                        <ul style="list-style: none;">
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" />Are treated at home by a high quality doctor.</li>
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" />Save the money and time associated with going to a clinic.</li>
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" />Great for patients with limited mobility and busy schedules.</li>
                        </ul>
                        <p><strong>OUR PHYSIOTHERAPISTS</strong></p>
                        <ul style="list-style: none;">
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" /> All have specialized Master's degrees (Musclo Skeletal, Cardiorespiratory, Neuro etc.).</li>
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" /> More than 4 years of clinical experience on an average.</li>
                            <li><img src="~/Content/Images/tick_green.png" alt="" width="15" height="15" /> Members of foreign accreditation bodies.</li>
                        </ul>
                                                             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="#" class="btn-default btn1">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box12" style="display:none">
        <div class="container">
            <h2 class="wow fadeInLeft">Our services</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Hearing Testing</p>
                                <p>Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Audiometry</a></li>
                                    <li><a href="#">Immittance tests</a></li>
                                    <li><a href="#">Speech perception testing</a></li>
                                    <li><a href="#">Otoacoustic emissions (OAE)</a></li>
                                    <li><a href="#">Auditory brainstem response (ABR)</a></li>
                                    <li><a href="#">Auditory brainstem response (ABR)</a></li>
                                    <li><a href="#">Auditory brainstem response electrocochleography (ECoG)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Hearing Aids and Assistive Devices</p>
                                <p>Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Programmable digital hearing aids</a></li>
                                    <li><a href="#">Hearing aid accessories and maintenance (batteries, repair and cleaning services)</a></li>
                                    <li><a href="#">Assistive listening devices (ALDs)</a></li>
                                    <li><a href="#">CROS/BiCROS hearing aids</a></li>
                                    <li><a href="#">Osseointegrated bone conduction devices (Baha)</a></li>
                                    <li><a href="#">Custom earplugs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Tinnitus Treatment</p>
                                <p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Neuromonics treatment</a></li>
                                    <li><a href="#">Hearing aids and tinnitus maskers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Cochlear Implants</p>
                                <p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Candidacy assessment</a></li>
                                    <li><a href="#">Programming and troubleshooting</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Vestibular (Dizziness) Evaluation</p>
                                <p>Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Videonystagmography (VNG)</a></li>
                                    <li><a href="#">Vestibular evoked myogenic potential (VEMP)</a></li>
                                    <li><a href="#">Electrocochleography (EcoG)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page3_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Facial Nerve Evaluation</p>
                                <p>Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae pellentesque nec, pharetra a orci. Praesent nunc nunc, egestas eget.</p>
                                <ul class="list1-1">
                                    <li><a href="#">Electroneuronography (EnoG)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box13">
        <div class="container">
            <h2 class="wow fadeInLeft">Our services</h2>            
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Priority != 1)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp">
                            <div class="thumb-pad6">
                                <div class="thumbnail">
                                    <figure>
                                        @{var imgSrc = "";
                                        if (item.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <img src="@imgSrc" alt="" />
                                        }

                                    </figure>
                                    <div class="caption">
                                        <a href="@Url.Action("Index", "ServicesDetail", new { id = item.ServiceId })">@Html.DisplayFor(modelItem => item.ServiceName) </a>
                                        <p>
                                            @Html.DisplayFor(modelItem => item.ShortDesc)
                                        </p>                                        
                                                                                
                                    </div>
                                    <a href="@Url.Action("Index", "ServicesDetail", new { id = item.ServiceId })" class="btn-default btn2">read more <i></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }			
                            
            </div>
        </div>
    </div>
</div>
