
@model Models.TestimonialsModel
@{
    ViewBag.Title = "AddEditTestimonials";
    //Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<script>
    $(function () {
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            selector: '#tinyMCETextarea',
            //mode: "textareas",          
            theme: 'modern',
            //width: 600,
            height: 300,
            plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
            ],
            content_css: "/scripts/tinymce/skins/lightgray/content.min.css",
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'

        });
        //tinyMCE.activeEditor.setContent();

        $("#fileupload").change(function () {
            debugger;
            $("#dvPreview").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                $("#dvPreview").show();
                $("#dvPreview").append("<img />");
                var reader = new FileReader();
                reader.onload = function (e) {
                    debugger;
                    $("#dvPreview img").attr("src", e.target.result);
                    //$("#dvPreview img").attr("style", "height:300px; width:300px");
                }
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("Please upload a valid image file.");
            }
        });

        $("#frmAddEditTestimonials").validate({

            // Specify the validation rules
            rules: {
                PatientName: "required",
                PatientDesignation: "required",
                PatientExperience: "required"
            },

            // Specify the validation error messages
            messages: {
                PatientName: "Please enter  name",
                PatientDesignation: "Please enter Designation",
                PatientExperience: "Please enter Experience",
            },

            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>
<div class="content indent">
    <div class="container">
        <h4>Add/Update Testimonials</h4>
        <div class="row">
            @{  
              var imgSrc = "";
              if (Model.PatientImage != null)
              {
                  var base64 = Convert.ToBase64String(Model.PatientImage);
                  imgSrc = String.Format("data:image/gif;base64,{0}", base64);
              }
            }
            @using (Html.BeginForm("AddEdit", "Testimonial", FormMethod.Post, new { id = "frmAddEditTestimonials", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PatientName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PatientName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PatientDesignation, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.PatientDesignation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PatientDesignation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PatientExperience, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <!-- This will contain your HtmlContent and use the TinyMCE editor-->
                                    @Html.TextAreaFor(model => model.PatientExperience, new { @id = "tinyMCETextarea" })
                                    @Html.HiddenFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.PatientExperience, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    @Html.ActionLink("Back", "ShowTestimonials", "Testimonial", new { area = "Admin" }, new { @class = "btn btn-default" })
                                </div>
                            </div>*@
                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PatientImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input id="fileupload" type="file" name="file" />
                                    <div id="dvPreview">
                                        <img src="@imgSrc" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            @Html.ActionLink("Back", "ShowTestimonials", "Testimonial", new { area = "Admin" }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>








