@model Models.Photo

@{
    ViewBag.Title = "Upload Images";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<style>
#dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<div class="content indent">
    <div class="container">
        <h2>Upload Images</h2>
        <div class="jumbotron form-horizontal">
            <form action="~/GalleryAdmin/SaveUploadedFile" method="post" id="dropzoneJsForm" enctype="multipart/form-data">
                <div id="dropzonediv" class="dropzone ">
                    @*<input type="file" name="files" accept=".jpg, .png, .gif" multiple />*@
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.Decription, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Decription, new { @class = "form-control required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        @*<button id="submit-all">Submit All Files</button>*@
                        <input type="submit" id="submit-all"  value="Submit All Files" class="btn btn-primary" />
                        @*<div style="color:red">
                            @ViewBag.error
                        </div>*@
                    </div>
                </div>
            </form>
            
        </div>

        @*@using (Html.BeginForm("Create", "GalleryAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(m => Model.Decription, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Decription, new { @class = "form-control required" })
                        @Html.ValidationMessageFor(m => Model.Decription)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-5">
                        <input type="file" name="files"
                               multiple="multiple" accept=".jpg, .png, .gif" />
                    </div>
                </div>                               
                
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <div style="color:red">
                            @ViewBag.error
                        </div>
                    </div>
                </div>
            </div>
        }*@
    </div>
 </div>
@section scripts {
    <script type="text/javascript">
      
        Dropzone.autoDiscover = false;
        $("div#dropzonediv").dropzone({
            url: "/GalleryAdmin/SaveUploadedFile",
            //prevents Dropzone from uploading dropped files immediately
            autoProcessQueue: false,
            addRemoveLinks: true,
            previewsContainer: "#dropzonediv",
            clickable: "#dropzonediv",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var myDropzone = this; //closure
                submitButton.addEventListener("click", function () {

                    //tell Dropzone to process all queued files
                    myDropzone.processQueue();
                });
                
            },
            removedfile: function(file) {
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

    </script>
}

